<section class="staff-profile" fxFlex fxLayout fxLayoutAlign="center">
  <form fxLayout="column" fxLayoutAlign="center"  fxFlex.xs="100%" fxFlex="400px" *ngIf="staff" #updateForm="ngForm" (ngSubmit)="updateStaff(updateForm)">
    <mat-card fxFlex.xs="100%" fxFlex="400px" fxLayout="column">
      <mat-card-title fxLayoutAlign="center">Enter your personal data:</mat-card-title>
      <label>Full Name: </label>
      <input type="text" [(ngModel)]="staff.full_name" name="full_name">
      <label>Phone: </label>
      <input type="text" [(ngModel)]="staff.phone" name="phone">
      <label>Email: </label>
      <input type="email" [(ngModel)]="staff.email" name="email">
      <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button>Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
