<ul>
  <li>
   <!-- <a [routerLink]="'/single-staff-schedule/' + staffScheduleInput._id"
       [queryParams]="staffScheduleInput"
    >
      {{staffScheduleInput.staff_id}}
    </a> -->
    <h4>{{staffScheduleInput.name}} {{staffScheduleInput.surname}}</h4>
    <h4>{{staffScheduleInput.working_days}}</h4>
    <h4>{{staffScheduleInput.working_hours}}</h4>
    <h4>Vacation: {{staffScheduleInput.on_vacation}}</h4>
    <h4>Sick leave: {{staffScheduleInput.sick_leave}}</h4>
    <h4>Day off: {{staffScheduleInput.day_off}}</h4>
  </li>
</ul>
