<div class="bg">
  <div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <h1>STAFF</h1>
        <mat-card-title fxLayoutAlign="center">Stay online with the staff data</mat-card-title>
        <mat-card-actions fxLayoutAlign="center">
          <button type="submit" mat-button routerLink="sign-up">Apply</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <h1>PATIENTS</h1>
        <mat-card-title fxLayoutAlign="center">Stay tuned with the patient data</mat-card-title>
        <mat-card-actions fxLayoutAlign="center">
          <button type="submit" mat-button routerLink="sign-up">Apply</button>
        </mat-card-actions>
      </mat-card>
    </section>
    <section>
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <h1>VISITS</h1>
        <mat-card-title fxLayoutAlign="center">Make your appointment online</mat-card-title>
        <mat-card-actions fxLayoutAlign="center">
          <button type="submit" mat-button routerLink="sign-up">Apply</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</div>
