.bg {
  height: 40em;
  background-size: cover;
  width: auto;
  background-image: url('../images/medical_technology.jpg');
  background-position: 50% 50%;
}
.welcome {
  text-align: center;
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}

mat-card {
  opacity: 0.8;
  width: 360px;
  transition: all .2s ease-in-out;
}
mat-card:hover { transform: scale(1.1); }
