<mat-tab-group>
  <mat-tab label="Patient Diagnosis">
    <app-all-patient-diagnosis></app-all-patient-diagnosis>
  </mat-tab>
  <mat-tab label="Patient Visit">
    <app-add-patient-visit></app-add-patient-visit>
  </mat-tab>
  <mat-tab label="Patient Queue">
    <app-all-patient-visit-queue></app-all-patient-visit-queue>
  </mat-tab>
  <mat-tab label="Staff Schedule">
    <app-add-staff-schedule></app-add-staff-schedule>
  </mat-tab>
  <mat-tab label="My Profile">
    <app-update-staff></app-update-staff>
  </mat-tab>
</mat-tab-group>
